body {
  font-family: sans-serif;
  margin: 2rem;
  background-color: #FFC6c6;
  color: #594100;
  padding: 10px;
  margin: 20px;
}
.topic, .exercise, .subexercise {
  background: #FFE1E0;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
/*
iframe {
  width: 200px;
  height: 100px;
  border: 1px solid #ccc;
  margin-top: 0.5rem;
}*/
button {
  padding: 10px;
  margin: 10px;
  background-color: #644A07;
  color: white;
  text-decoration: none;
  border: solid #644A07 6px;
  border-radius: 20px;
}
.hidden {
  display: none;
}
