body {
  font-family: sans-serif;
  background-color: #FFC6c6;
  color: #594100;
  padding: 10px;
  margin: 20px;
}

.topic,
.exercise,
.subexercise {
  background: #FFE1E0;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

button {
  padding: 10px;
  margin: 10px;
  background-color: #644A07;
  color: white;
  text-decoration: none;
  border: solid #644A07 6px;
  border-radius: 20px;
  width: 200px;
  height: 50px;

}

.hidden {
  display: none;
}


.homepage {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.homepage img{
  width: 300px;
  height: 200px;
}

.analysis,
.vektorgeometrie,
.wahrscheinlichkeit {
  text-align: center;
  background-color: #FFE1E0;
  width: 450px;
  height: 300px;
  margin: 10px;
  padding: 10px;
  border: 2px solid white;
  border-radius: 10%;

}

.analysis:hover,
.vektorgeometrie:hover,
.wahrscheinlichkeit:hover {
  /*border: 4px solid white;*/
  cursor: pointer;
  box-shadow: 1px 1px 6px 8px white;
}


.main-title {
  text-align: center;
}

.quote {
  text-align: center;
  padding: 2px;
}

.topicTitleCalc {
  display: flex;
  text-align: left;
}

.topicTitleCalc img {
  width: 60px;
  height: 60px;
  border: 2px solid transparent;
  margin-left: 10px;
}

.topicTitleCalc img:hover{
  box-shadow: 1px 1px 6px 8px #FFE1E0;
}

@media (max-width: 768px) {
  body {
    margin: 5px;
    padding: 5px;
  }

  .homepage {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
}